<!-- Header Partial -->
<%- include ('partials/header.ejs') %>

    <main>
          <section id="catalog">
        <h1>Notre catalogue</h1>

        <div class="articles only-display-3-articles" id="articles-list">
          <% for (const product of products) { %>
          <article>
            <img
              src="../images/coffees/<%= product.reference %>.png"
              alt="<%= product.name %>"
            />
            <div>
              <h2><%= product.name %></h2>
              <p>Origine <%= product.origin %></p>
              <p><%= product.price %> €/kg</p>
              <a class="button-outline" href="#">Voir le détail</a>
            </div>
          </article>
          <% } %>
        </div>

        <button class="button" id="see-all-products-button">
          Voir tous les produits
        </button>
      </section>
    </main>

<!-- Footer Partial -->
<%- include ('partials/footer.ejs') %>