<!-- Header Partial -->
<%- include ('partials/header.ejs') %>

    <main>
          <section id="product">
            <article>
              <img
              src="../images/coffees/<%= product.reference %>.png"
              alt="<%= product.name %>"
              />
              <h1><%= product.name %></h1>
              <ul>
                <li id="description"><%= product.description %></li>
                <li>Origine <%= product.origin %></li>
                <li>Cacractéristiques principale(s) : 
                <% for (const item of product.characteristic) { %>
                <%= item %>
                <% } %>
                </li>
                <li><%= product.price %>€ / kg</li>
                <li>Réfénce produit : <%= product.reference %></li>
                <li>Disponible en boutique : 
                  <% if (product.available == true) { %>
                  Oui <% } else { %>
                  Non
                  <% } %>
              </ul>
            </article>
      </section>
    </main>

<!-- Footer Partial -->
<%- include ('partials/footer.ejs') %>